{% extends "base.html" %}
{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div class="container mt-5">
    <h2>Register for Event: {{ event.name }}</h2>
    <p><strong>Event Date:</strong> {{ event.date }}</p>
    <p><strong>Event Location:</strong> {{ event.location }}</p>
    
    <h3>Registration Form</h3>
    <form method="post" class="w-50 text-center" action="{% url 'register_for_event' event.unique_link %}">

        {% csrf_token %}
        {% bootstrap_form form %}        
        <!-- Include any additional registration fields here -->
        
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock %}

