{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block title %}Register - ConvoSensePro{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card mt-4">
        <div class="card-header">
          <h3 class="card-title text-center">Create an Account</h3>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary btn-block mt-3">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <p>Already have an account? <a href="{% url 'users:login' %}">Login here</a></p>
  </div>
{% endblock %}

